<!DOCTYPE html>
<html ng-app="projectTrackingApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Project Tracking Portal</title>
    <link rel="stylesheet" type="text/css" href="admin-home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="admin-home.js"></script>
</head>
<body ng-controller="homeCtrl">

    <div ng-view></div>

    <div class="header">
        <img src="images/logo.png" alt="Logo" class="header-logo">
        <h1 class="header-title">PROJECT TRACKING PORTAL</h1>

        <div class="search-container">
            <input type="text" ng-model="searchQuery" placeholder="Search..." class="search-bar" ng-keypress="onSearchKeyPress($event)">
            <button ng-click="search()" class="search-button"><i class="fa fa-search"></i></button>
            <button ng-click="clearSearch()" class="clear-button"><i class="fa fa-times"></i></button>
        </div>

        <div class="user-badge">A</div>
        
    </div>
    <div class="sidebar">
        <ul>
            <li>HOME</li>
            <li>LOGGER APPROVAL</li>
            <li>REPORT APPROVAL</li>
        </ul>
    </div>


    <div class="content" ng-view></div>

    <div class="main-content">
        <div class="welcome-card">
            <div class="user-icon">{{ userIcon }}</div>
            <div class="welcome-message">
                <p>Welcome back !!</p>
                <h2>{{ userName }}</h2>
            </div>
        </div>
    </div>    

</body>
</html>
